@media (min-width: 992px) {
    .first-screen-slider{        
        .slick-slide {
                padding: 0 92px;
                border-radius: 20px;
    
        }
        .container{
            padding-top: 163px;
            padding-bottom: 228px;
            padding-left: 18px;        
        }
        
       
}

.calculation {
   .calculation-row {
    display: flex;
   }
   h2{
    font-size: 36px;
   }


    .calculation-title{
        &::after {
            content: "";
            display: inline-block;
            width: 85px;
            height: 2px;
            background-color: $color-secondary;
            margin: 14px 12px;
        }
    }
    

}
}