
<section class="first-screen">
    <div class="container-xxl">
        <div class="first-screen-slider">
            <div style="background-image: url(./assets/img/first-screen-1.png);">
                <div class="container">
                    <div class="first-screen-title">Прямое КАРГО из Китая</div>
                <div class="first-screen-subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button class="btn first-screen-btn" tabindex="0">Рассчитать стоимость
                    <img src="assets/img/arrow-circle-left.svg" class="icon" alt="arrow">
                </button>
                </div>
            </div>
            <div style="background-image: url(./assets/img/first-screen-2.png);">
                <div class="container">
                    <div class="first-screen-title">Выкуп товара с ТаоБао, 1688</div>
                <div class="first-screen-subtitle">Выкуп и доставка товаров
                    с китайских торговых площадок. </div>
                <button class="btn first-screen-btn" tabindex="0">Рассчитать стоимость
                    <img src="assets/img/arrow-circle-left.svg" class="icon" alt="arrow">
                </button>
                </div>
            </div>
            <div style="background-image: url(./assets/img/first-screen-3.png);">
                <div class="container">
                    <div class="first-screen-title mb">Экспресс авто доставка</div>
                <div class="first-screen-subtitle"></div>
                <button class="btn first-screen-btn" tabindex="0">Рассчитать стоимость
                    <img src="assets/img/arrow-circle-left.svg" class="icon" alt="arrow">
                </button>
                </div>
            </div>
            <div style="background-image: url(./assets/img/first-screen-4.png);">
                <div class="container">
                    <div class="first-screen-title">Прямое КАРГО из Китая</div>
                <div class="first-screen-subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button class="btn first-screen-btn" tabindex="0">Рассчитать стоимость
                    <img src="assets/img/arrow-circle-left.svg" class="icon" alt="arrow">
                </button>
                </div>
            </div>
        </div>
        <div class="first-screen-nav"></div>
    </div>

</section>
